DATABASE_URL="postgresql://postgres:postgres@db:5432/agendaapp?schema=public"
JWT_SECRET="f4930353163359556133965586686733"
PORT=3333
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
